.image-gallery {
    .image-gallery-image {
        height: calc(100vh + 4rem);
        width: 100%;
        
        @media (max-width: $mobile) {
            height: 100%;
        }
    }
}

.carousel-wrapper {
    margin-top: 0;
    @media (max-width: $mobile) {
        margin-top: 4rem;
    }
}