.image-gallery {
  .image-gallery-image img {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
}

.carousel-wrapper {
  overflow: hidden;
  @media (max-width: $mobile) {
    margin-top: 5rem;
  }
}
