body {
  width: 100vw;
  overflow-x: hidden;
}

div.main {
  min-height: 100vh;
  // padding-bottom: 1rem;
}

div.full-height {
  min-height: 100vh;
}

a.link-no-style {
  color: $light;
  font-size: 1rem;
  &:hover {
    text-decoration: none;
  }
}

.nav-link {
  @include link-design;
}

.nav-logo {
  max-height: 4rem;
}

.icon {
  max-height: 1.8rem;
  width: auto;
}

.footer-wrapper {
  background: gray;
  li {
    list-style: none;
    a img {
      height: 2.6rem;
    }
  }
}

.footer-nav {
  @include link-design;
  color: white;
  &:hover {
    color: white;
    padding-right: 1rem;
  }
}

.tagline {
  margin-bottom: 0;
  font-variant: small-caps;
  font-size: 1.1rem;
}

a.license {
  font-size: 0.85rem;
  text-decoration: none;
  transition: all 1s;
  &:hover {
    padding-left: 1rem;
    transition: all 1s;
    color: $light;
  }
}

.footer-info-links {
  color: $dark;
  text-decoration: none;
}

.footer-col {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  footer {
    margin-top: 0.25rem;
    height: 1.75rem;
    background-color: $color-primary;
    color: rgb(192, 185, 185);
    width: 100%;
    padding-right: 2rem;
    text-align: right;
  }
}

* {
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}

.default-pointer {
  cursor: default;
}

.active {
  @include link-design-active;
}
